.main-container {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("/public/medium-vecteezy_empty-space-background-with-cat-illustration_24569685_medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container h1 {
  font-size: 4rem;
  min-width: 600px;
  font-family: "Comic Relief", system-ui;
  color: white;
}

.main-container ul {
  margin-bottom: 40px;
  scrollbar-width: none;
}

.main-container li {
  width: 60%;
  min-width: 600px;
  height: 80px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Comic Relief", system-ui;
  color: white;
  margin: 0 auto 30px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.212);
  background: rgba(0, 0, 0, 0.127);
  transition: all 0.2s ease;
}

.main-container li:hover {
  background: rgba(173, 173, 173, 0.127);
}
