.cookie-counter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.cookie-number {
  font-size: 15rem;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
}

.cookie-btn {
  scale: 1.5;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.01s ease;
}

.cookie-btn:active {
  translate: 0 2px;
}
